h1 {

    font-family: 'Comfortaa', cursive;
    padding: 10px;
    
}

body {

    color: white;
    background-color: darkslategrey;
    font-family: 'Hind Madurai', sans-serif;
    padding: 60px;

}
/* ---------------------Weather CSS---------------------- */
#submitZip,
#changeZip {

    margin-top: 15px;

}

.weatherPic {

    margin-right: 10px;

}

container#weather {
    background: url('https://image.freepik.com/free-photo/blue-sky-with-cloud-clean-energy-power-clear-weather-background_43284-844.jpg') no-repeat center center;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}




/* ---------------------Playlist CSS---------------------- */

#playlist-data {

    float: left;
    

}

div.playlist {
    float: left;
}


@media screen and (max-width: 640px) {

    h1 {

        font-size: 2rem;
        
    }

}
