@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');

body {

    color: white;
    background: url("../images/main.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Julius Sans One', sans-serif;
    transition: 3s;

}

/* title screen styling */
h1 {

    font-family: 'Comfortaa', cursive;
    padding: 10px;

}

h1.mainHeader {

    font-size: 6em;

}

p.site-description {

    font-size: 1em;
    color: rgb(255, 255, 255, .8);

}


/* error message styling */
p.error-message {

    display: none;

}

p.error {
    
    margin-top: 50px;
    font-size: 2em;

}


.d-inline {

    display: inline-block;

}

/* modal styles */
div.modal {

    color: rgb(47, 79, 79);

}

h4.preferences {

    border-bottom: 1px solid rgb(47, 79, 79);
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 25px;

}

a.modal-trigger {

    color: rgba(255, 255, 255, .8);
    position: absolute;
    right: 10px;
    top: 10px;

}

span.settings-label {
    display: none;
    color: rgba(255, 255, 255, .8);
    position: absolute;
    right: 40px;
    top: 10px
}


a.modal-trigger:hover span {
    display: inline-block;
}


/* button styling */
a#changeZip {

    color: rgba(255, 255, 255, .8);
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 45px;

}


span.location-label {
    display: none;
    color: rgba(255, 255, 255, .8);
    position: absolute;
    right: 40px;
    top: 45px;
}

#searchPref {
    
    color: rgba(4, 41, 41, .8);
    
}

/* inner radio button color */
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    
    background-color: rgba(4, 41, 41, .8);
    
}

/* outer radio button color */
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    
    border: 2px solid rgba(4, 41, 41, .8);
    
}

/* checkbox button color */
[type="checkbox"]:checked+span:not(.lever):before {
    
    border-bottom: 2px solid rgba(4, 41, 41, .8);
    border-right: 2px solid rgba(4, 41, 41, .8);
    
}

a#submitZip {
    
    background-color: rgb(47, 79, 79);

}


/* ---------------------Weather CSS---------------------- */

/* label color */

input#zipcode {

    color: rgba(255, 255, 255, .8);

}

.input-field label {
    
    color: rgba(255, 255, 255, .6);

}

/* label underline color */
.input-field input[type=text] {

    border-bottom: 1px solid rgba(255, 255, 255, .6);

}

/* label focus color */
div.input-field input#zipcode:focus+label {

    color: rgba(255, 255, 255, .8);

}

/* label underline focus color */
div.input-field input#zipcode:focus {

    border-bottom: 1px solid rgba(255, 255, 255, .8);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .8);

}

#submitZip {

    margin-top: 15px;
    margin-bottom: 15px;

}

span#updatedWeather {

    font-size: 4rem;

}

/* ---------------------Playlist CSS---------------------- */

section#music {

    display: none;
    position: relative;
    bottom: -30px;
    background-color: rgba(1, 12, 12, 0.75);
    background-color: rgba(1, 12, 12, 0.75);
    min-height: 30vh;

}


div.music-cards {

    padding: 15px 0px 0px 200px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 40px;

} 

div.music-cards img {

    cursor: pointer;
    width: 75%;
    transition: transform 1s;

}

div.music-cards img:hover {

    transform: scale(1.25,1.25);

}

div.playlist {

    float: left;

}


i.up-arrow {

    cursor: pointer;
    color: rgba(255, 255, 255, .4)   

}

i.up-arrow:hover {

    color: rgb(255, 255, 255)

}



@media screen and (max-width: 640px) {
    
    h1 {
        font-size: 2rem;
    }
    
}
