h1 {
    font-family: 'Comfortaa', cursive;
    padding: 10px;
}

h1.mainHeader {
    font-size: 6em;
}

p.site-description {
    font-size: 1em;
}

body {
    color: white;
    background: url("../images/main.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Hind Madurai', sans-serif;
    /* padding: 60px; */
}

p.site-description {
    color: rgb(255, 255, 255, .8);
}

#music {
    position: relative;
    bottom: -30px;
    background-color: rgba(1, 12, 12, 0.75);
    background-color: rgba(1, 12, 12, 0.75);
    min-height: 50vh;
}

/* modal styles */

div.modal {
    color: rgb(47, 79, 79);
}

h4.preferences {
    border-bottom: 1px solid rgb(47, 79, 79);
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

a.modal-trigger {
    color: rgb(47, 79, 79);
    position: absolute;
    right: 10px;
    top: 10px;
}

a#changeZip {
    color: rgb(47, 79, 79);
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 45px;
}

#searchPref {

    color: rgba(4, 41, 41, .8);

}

/* inner radio button color */
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {

    background-color: rgba(4, 41, 41, .8);

}

/* outer radio button color */
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {

    border: 2px solid rgba(4, 41, 41, .8);

}

/* checkbox button color */
[type="checkbox"]:checked+span:not(.lever):before {

    border-bottom: 2px solid rgba(4, 41, 41, .8);
    border-right: 2px solid rgba(4, 41, 41, .8);

}

a#submitZip {

    background-color: rgb(47, 79, 79);
}


/* ---------------------Weather CSS---------------------- */

/* label color */
.input-field label {
    color: rgba(255, 255, 255, .6);
}

/* label underline color */
.input-field input[type=text] {
    border-bottom: 1px solid rgba(255, 255, 255, .6);
}

/* label focus color */
div.input-field input#zipcode:focus+label {
    color: rgba(255, 255, 255, .8);
}

/* label underline focus color */
div.input-field input#zipcode:focus {
    border-bottom: 1px solid rgba(255, 255, 255, .8);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .8);
}


#submitZip {
    margin-top: 15px;
    margin-bottom: 15px;
}

#nested-icons {
    display: none;
}

/* .weatherPic {

    margin-right: 10px;

} */

container#weather {
    background: url('https://image.freepik.com/free-photo/blue-sky-with-cloud-clean-energy-power-clear-weather-background_43284-844.jpg') no-repeat center center;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

/* ---------------------Playlist CSS---------------------- */

/* #playlist-data {

    float: left;
    

} */

section#music {
    display: none;
}

.music-cards {
    float: left;
    padding: 15px 0px 0px 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    /* position: center; */
    margin-top: 40px;
    /* margin-bottom: 15px;
} */
}

div.playlist {
    float: left;
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 2rem;
    }

}